<!DOCTYPE html>
<html>
<head>
  <title>Physics 367</title>
  <link rel="stylesheet" type="text/css" href="style.css" />
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
  <main>
    <header>
      <h1>Computational Physics Lab</h1>
      <h2>Physics 36x pair planning</h2>
    </header>

    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/students">Students</a></li>
        <li><a href="/sections">Sections</a></li>
        <li><a href="/teams">Teams</a></li>
      </ul>
    </nav>
    <article>

      {% block content %}{% endblock%}

    </article>
  </main>
</body>
