{% extends "base.html" %}

{% block nav %}
          <li><a href="/pairs/{{ today.id }}">Team view</a></li>
{% endblock %}
{% block content %}
<h1>Edit {{ today }} (<a href="/day/{{ today.previous().id
                               }}">previous</a>, <a href="/day/{{ today.next().id }}">next</a>)</h1>

{% for sec_students in all %}
<h2>{{sec_students.1.len()}} students in section {{sec_students.0}}</h2>
<form action="/day/{{ today.id }}" method="post">
  <input type="hidden" name="student" value=""/>
  <input type="hidden" name="section" value="{{sec_students.0}}"/>
  <input type="hidden" name="team" value=""/>
  <input type="submit" name="action" value="Shuffle"/>
  <input type="submit" name="action" value="Shuffle with continuity"/>
  <input type="submit" name="action" value="Repeat"/>
  <input type="submit" name="action" value="Clear all"/>
</form>
<ol>
  {% for s in sec_students.1 %}
  <li>
    {{ s|safe }}
  </li>
  {% endfor %}
</ol>
{% endfor %}

<h2>{{unassigned.len()}} unassigned students</h2>
<ol>
  {% for s in unassigned %}
  <li>
    {{ s}}
  </li>
  {% endfor %}
</ol>

<h2>{{absent.len()}} absent students</h2>
<ol>
  {% for s in absent %}
  <li>
    {{ s }}
  </li>
  {% endfor %}
</ol>

{% endblock %}
