{% extends "base.html" %}

{% block content %}
<h1>Edit {{ today }}</h1>

<form action="/day/{{ today.id }}" method="post">
  <input type="hidden" name="student" value=""/>
  <input type="hidden" name="section" value=""/>
  <input type="hidden" name="team" value=""/>
  <input type="submit" name="action" value="Shuffle"/>
  <input type="submit" name="action" value="Clear all"/>
</form>

<h2>{{all.len()}} students</h2>
<ol>
  {% for s in all %}
  <li>
    {{ s|safe }}
  </li>
  {% endfor %}
</ol>

<h2>{{unassigned.len()}} unassigned students</h2>
<ol>
  {% for s in unassigned %}
  <li>
    {{ s}}
  </li>
  {% endfor %}
</ol>

<h2>{{absent.len()}} absent students</h2>
<ol>
  {% for s in absent %}
  <li>
    {{ s }}
  </li>
  {% endfor %}
</ol>

{% endblock %}
