{% extends "base.html" %}

{% block content %}
<ol>
  {% for day in days %}
  <li>
    <form action="/" method="post">
      <a href="/day/{{ day.id }}">{{ day|safe }}</a>
      <input type="hidden" name="id" value="{{day.id}}"/>
      <input type="text" name="name" value=""/>
      <input type="checkbox" onchange="this.form.submit()"{%
             if day.unlocked %} checked{%endif%} name="locked"/>
    </form>
  </li>
  {% endfor %}
  <li>
    <form action="/" method="post">
      New day
      <input type="hidden" name="id" value="{{days.len()}}"/>
      <input type="text" name="name" value=""/>
    </form>
  </li>
</ol>
{% endblock %}
