{% extends "base.html" %}

{% block nav %}
<li><a href="/pairs/{{ path }}/students">Students</a></li>
<li><a href="/pairs/{{ path }}/sections">Sections</a></li>
<li><a href="/pairs/{{ path }}/teams">Teams</a></li>
{% endblock %}
{% block content %}
<ol>
  {% for (s,z) in sections %}
  <li>
    <form action="/pairs/{{ path }}/sections" method="post">
      <input type="hidden" name="oldname" value="{{s.name}}"/>
      <input type="text" name="newname" value="{{s.name}}"/>
      <input type="text" name="newzoom" value="{{z.id}}"/>
      <input type="submit" name="action" value="Update section"/>
    </form>
  </li>
  {% endfor %}
  <li>
    <form action="/pairs/{{ path }}/sections" method="post">
      <label for="name">New section:</label>
      <input type="hidden" name="oldname" value=""/>
      <input type="text" name="newname" autofocus/>
      <input type="text" name="newzoom"/>
      <input type="submit" name="action" value="New section"/>
    </form>
  </li>
</ol>
{% endblock %}
