{% extends "base.html" %}

{% block nav %}
<li><a href="/day/{{ today.id }}">Student view</a></li>
<li><a href="/pairs/{{ today.id }}">Team view</a></li>
{% endblock %}
{% block content %}
<h1>{{ today|safe }}
  (<a href="/pairs/{{ today.previous().id
            }}">previous</a>, <a href="/pairs/{{ today.next().id }}">next</a>)
</h1>

{% for section_team in all %}
<h4>{{section_team.1.len()}} teams in section {{section_team.0}}
  {{ section_team.2|safe }}</h4>
<ul>
  {% for t in section_team.1 %}
  <li class="teamview">
    {{ t.team|safe }}:
    <span class="{% for class in t.primary.tags
                         %}{{class}} {%endfor%}">{{ t.primary.current_string()|safe }}</span>
    <span style="width:0.01pt;font-size:0.001em;color:white;">and</span>
    <span class="{% for class in t.secondary.tags
                         %}{{class}} {%endfor%}">{{ t.secondary.current_string()|safe }}</span>
  </li>
  {% endfor %}
</ul>
{% endfor %}

{% if unassigned.len() > 0 %}
<h4>{{unassigned.len()}} unassigned students</h4>
<ol>
  {% for s in unassigned %}
  <li>
    {{ s }}
  </li>
  {% endfor %}
</ol>
{% endif %}

<h4>{{absent.len()}} absent students</h4>
<ol>
  {% for s in absent %}
  <li>
    {{ s }}
  </li>
  {% endfor %}
</ol>

{% endblock %}
