{% extends "base.html" %}

{% block nav %}
<li><a href="/{{ path }}/students">Students</a></li>
<li><a href="/{{ path }}/sections">Sections</a></li>
<li><a href="/{{ path }}/teams">Teams</a></li>
{% endblock %}
{% block content %}
{% for secstudents in sections %}
<h2>{{ secstudents.0 }}</h2>
<ol>
  {% for s in secstudents.1 %}
  <li>
    <form action="/{{ path }}/students" method="post">
      <select name="section" onchange="this.form.submit()">
        {% for s in sections %}
        <option value="{{ s.0 }}"{% if
                s.0 == secstudents.0 %} selected{% endif %}>{{ s.0 }}</option>
        {% endfor %}
      </select>
      <input type="hidden" name="oldname" value="{{s.name}}"/>
      <input type="text" name="newname" value="{{s.name}}"/>
    </form>
  </li>
  {% endfor %}
  <li>
    <form action="/{{ path }}/students" method="post">
      <label for="name">New student:</label>
      <input type="hidden" name="section" value="{{secstudents.0}}"/>
      <input type="hidden" name="oldname" value=""/>
      <input type="text" name="newname" {%
             if secstudents.0 == focus_section %}autofocus{% endif %}/>
    </form>
  </li>
</ol>
{% endfor %}
{% endblock %}
