<form method="post">
  <input type="hidden" name="action" value="student"/>
  <input type="hidden" name="student" value="{{student}}"/>
  <select name="section" onchange="this.form.submit()">
    <option value="">Absent</option>
    {% for s in possible_sections %}
    <option value="{{ s }}"{% if
            self.is_current_section(s) %} selected{% endif %}>{{ s }}</option>
    {% endfor %}
  </select>
  <select name="team" onchange="this.form.submit()">
    <option value="">-</option>
    {% for t in possible_teams %}
    <option value="{{ t }}"{% if
            self.is_current_team(t) %} selected{% endif %}{% if
            self.is_previous_team(t) %} class="reuser"{% endif %}>{{ t }}</option>
    {% endfor %}
  </select>
  <span class="{% for t in self.tags() %} {{t}}{% endfor %}">{{ student }}</span>
</form>
