{% extends "base.html" %}

{% block nav %}
<li><a href="/day/{{ today.id }}">Student view</a></li>
{% endblock %}
{% block content %}
<h1>{{ today|safe }}
  (<a href="/pairs/{{ today.previous().id
            }}">previous</a>, <a href="/pairs/{{ today.next().id }}">next</a>)
</h1>

{% for section_team in all %}
<h2>{{section_team.1.len()}} teams in section {{section_team.0}}</h2>
{% if today.unlocked %}
<form method="post">
  <input type="hidden" name="primary" value=""/>
  <input type="hidden" name="secondary" value=""/>
  <input type="hidden" name="section" value="{{section_team.0}}"/>
  <input type="hidden" name="team" value=""/>

  <input type="submit" name="action" value="Shuffle"/>
  <input type="submit" name="action" value="Shuffle with continuity"/>
  <input type="submit" name="action" value="Repeat"/>
  <input type="submit" name="action" value="Clear all"/>
</form>
{% endif %}
<ul>
  {% for t in section_team.1 %}
  <li class="teamview">
    {% if !today.unlocked %}
    {{ t.team|safe }}:
    <span class="{% for class in t.primary.tags
                         %}{{class}} {%endfor%}">{{ t.primary.current_string()|safe }}</span>
    <span class="{% for class in t.secondary.tags
                         %}{{class}} {%endfor%}">{{ t.secondary.current_string()|safe }}</span>
    {% else %}
      {{ t|safe }}
    {% endif %}
  </li>
  {% endfor %}
</ul>
{% endfor %}

<h2>{{unassigned.len()}} unassigned students</h2>
<ol>
  {% for s in unassigned %}
  <li>
    {{ s }}
  </li>
  {% endfor %}
</ol>

<h2>{{absent.len()}} absent students</h2>
<ol>
  {% for s in absent %}
  <li>
    {{ s }}
  </li>
  {% endfor %}
</ol>


<form action="/day/{{ today.id }}" method="post">
  <input type="submit" name="action" value="Shuffle"/>
</form>
<form action="/day/{{ today.id }}" method="post">
  <input type="submit" name="action" value="Clear all"/>
</form>

{% endblock %}
