{% extends "base.html" %}

{% block nav %}
<li><a href="/pairs/{{ path }}/students">Students</a></li>
<li><a href="/pairs/{{ path }}/sections">Sections</a></li>
<li><a href="/pairs/{{ path }}/teams">Teams</a></li>
{% endblock %}
{% block content %}
<ol>
  {% for s in teams %}
  <li>
    <form action="/pairs/{{ path }}/teams" method="post">
      <input type="hidden" name="oldname" value="{{s.name}}"/>
      <input type="text" name="newname" value="{{s.name}}"/>
    </form>
  </li>
  {% endfor %}
  <li>
    <form action="/pairs/{{ path }}/teams" method="post">
      <label for="name">New team:</label>
      <input type="hidden" name="oldname" value=""/>
      <input type="text" name="newname" autofocus/>
    </form>
  </li>
</ol>
{% endblock %}
