{% extends "base.html" %}

{% block content %}
<ol>
  {% for s in teams %}
  <li>
    <form action="/teams" method="post">
      <input type="hidden" name="oldname" value="{{s.name}}"/>
      <input type="text" name="newname" value="{{s.name}}"/>
    </form>
  </li>
  {% endfor %}
  <li>
    <form action="/teams" method="post">
      <label for="name">New team:</label>
      <input type="hidden" name="oldname" value=""/>
      <input type="text" name="newname" autofocus/>
    </form>
  </li>
</ol>
{% endblock %}
